html,
body {
	margin: 0;
	padding: 0;
	background: #1c1c1c;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 450px;
	height: 380px;
	margin: 0 auto;
	top: 50%;
	padding: 50px;
	background: #1f2937;
	border-radius: 6px;
}

h1 {
	font-family: "Karla", sans-serif;
	font-weight: 800;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -0.025em;
	color: #f5f3ff;
	margin: 26px 0 0;
}

span {
	color: #8b5cf6;
	margin: 0 0 12px 0;
}

p {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: #c4b5fd;
}

button {
	background: #7c3aed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 224px;
	height: 42px;
	margin-top: 48px;
	padding: 10px 16px;
	border: none;
	border-radius: 6px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ede9fe;
	cursor: pointer;
}

button:hover {
	background: #8b5cf6;
	color: #f5f3ff;
}

.lock {
	width: 18px;
	height: 18px;
	margin-right: 16px;
}

.border {
	width: 446px;
	height: 0px;
	margin: 38px auto;
	border: 1px solid #2f3e53;
}

.password-container {
	margin: 0 auto;
}

.password-box-1,
.password-box-2 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 210px;
	height: 40px;
	background: #273549;
	color: #c4b5fd;
	font-size: 18px;
	font-weight: 700;
	border-radius: 6px;
}

.password-box-1 {
	margin-right: 24px;
}

.no-password {
	width: 20px;
	height: auto;
}
